html body{
   background-color: #747474;
   background-image: url(../images/display\ pizza.jpg);
   background-size: cover;
   background-blend-mode: multiply;
   
}
.topNav{
    overflow: hidden;
    background-color: #333;
    padding: 10px;
}
.topNav a {
    float: right;
    color: #747474;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    
}
.topNav a.active{
    background-color: #14A76C;
    color: #747474;
}
.card .card-deck .card-body{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 25%;
}
.text{
    color: #FFE400;
    font-family: 'Bilbo', cursive;
    font-size: 35px;
}
.card-text{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.card-text span{
    cursor: pointer;
}
.card-body img{
    padding-bottom: 15px;
}